<po-page-default>
    <po-breadcrumb [p-items]="breadcrumbItems"></po-breadcrumb>
    <br>
    <form [formGroup]="form">
        <div class="po-row">
            <!--
            <po-input id="description" class="po-md-10" name="description" formControlName="description"
                p-label="Descrição" p-clean>
            </po-input>

            <po-button class="po-md-2" id="btn" style="margin-top: 32px;" p-label="Pesquisar" (click)="setPage()"
                p-icon="po-icon-search">
            </po-button>
            -->
        </div>
    </form>

    <po-widget class="po-md-12 po-mb-5" p-title="">
        <po-table p-hide-select-all="true" p-sort="true" p-striped="true" [p-columns]="columns" [p-items]="citys">
        </po-table>
    </po-widget>

    <div class="po-mb-5">
        <po-divider></po-divider>
    </div>
</po-page-default>