@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
  padding-top: 3.5rem;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.footer {
  background-color: #f5f5f5;
}