<po-page-default [p-title]="title">
  <po-tabs>
    <po-tab p-label="Dados" p-active="true">
      <po-widget class="po-lg-12" p-title="Descrição">
        <div class="po-font-subtitle">{{obj.nome}}</div>
      </po-widget>

      <po-widget class="po-md-12 po-mb-5" p-title="">
        <po-table class="po-md-12" style="padding-top: 32px;" p-sort="true" p-striped="true" [p-columns]="columns"
          [p-items]="customers">
        </po-table>
      </po-widget>

      <div class="po-row po-mt-5">
        <po-button class="po-md-2" p-type="default" p-icon="po-icon-arrow-left" p-label="Voltar" (p-click)="cancel()">
        </po-button>
        <div class="po-md-8"></div>
        <po-button class="po-md-2" p-type="danger" p-icon="po-icon-delete" p-label="Excluir Registro"
          (p-click)="delete()">
        </po-button>
      </div>
    </po-tab>

    <po-tab p-label="Informações">
      <po-widget class="po-lg-6" p-title="Ativo">
        <div class="po-font-subtitle">{{obj.auxAtivo}}</div>
      </po-widget>
      <po-widget class="po-lg-6" p-title="Ultima Alteração">
        <div class="po-font-subtitle">{{obj.ultimaAlteracao}}</div>
      </po-widget>
    </po-tab>
  </po-tabs>

  <div class="po-mt-5">
    <po-divider></po-divider>
  </div>
</po-page-default>