<po-page-default [p-title]="title">
  <po-tabs>
    <po-tab p-label="Dados" p-active="true">
      <po-widget class="po-lg-12" p-title="Nome">
        <div class="po-font-subtitle">{{obj.nome}}</div>
      </po-widget>
      <po-widget class="po-lg-6" p-title="CPF/CNPJ">
        <div class="po-font-subtitle">{{obj.cpfCnpj}}</div>
      </po-widget>
      <po-widget class="po-lg-6" p-title="Telefone">
        <div class="po-font-subtitle">{{obj.telefone}}</div>
      </po-widget>
      <po-widget class="po-lg-6" p-title="Email">
        <div class="po-font-subtitle">{{obj.email}}</div>
      </po-widget>
      <po-widget class="po-lg-6" p-title="Aplica Desconto">
        <div class="po-font-subtitle">{{obj.auxAplicaDesconto}}</div>
      </po-widget>

      <div class="po-row po-mt-5">
        <po-button class="po-md-2" p-type="default" p-icon="po-icon-arrow-left" p-label="Voltar" (p-click)="cancel()">
        </po-button>
        <po-button class="po-md-2" p-type="primary" p-icon="po-icon-edit" p-label="Editar" (p-click)="edit()">
        </po-button>
        <div class="po-md-6"></div>
        <po-button class="po-md-2" p-type="danger" p-icon="po-icon-delete" p-label="Excluir Registro"
          (p-click)="delete()">
        </po-button>
      </div>
    </po-tab>

    <po-tab p-label="Informações">
      <po-widget class="po-lg-6" p-title="Ativo">
        <div class="po-font-subtitle">{{obj.auxAtivo}}</div>
      </po-widget>
      <po-widget class="po-lg-6" p-title="Ultima Alteração">
        <div class="po-font-subtitle">{{obj.ultimaAlteracao}}</div>
      </po-widget>
    </po-tab>
  </po-tabs>

  <div class="po-mb-5">
    <po-divider></po-divider>
  </div>
</po-page-default>